$lightGrey: #e6e6e6;
// $orange: #fd9644;
// $orange: #fd449e;
$orange: #262e38;
// $orange: #fc8a56;
$innuendoGrey: #4b6584;

$darkRed: #591a34;
// $blueGrey: #778ca3;
$blueGrey: #adb9c5;

$textColor: #313131;

$background: #262e38;
// $background: white;

$gradient: linear-gradient(0deg, rgba(41, 12, 26, 1) 0%, rgba(17, 33, 55, 1) 100%);

$redAccent: #a5d723;

$darkBlue: #161923;
$boxBlue: #272d45;
