@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;900&display=swap");
.slide-in-top {
  -webkit-animation: slide-in-top 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out-top {
  -webkit-animation: slide-out-top 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-top 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-out-left {
  -webkit-animation: slide-out-left 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-left 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes ripple {
  to {
    -webkit-transform: scale(4);
            transform: scale(4);
    opacity: 0;
  }
}

@keyframes ripple {
  to {
    -webkit-transform: scale(4);
            transform: scale(4);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

html,
body {
  font-family: "Poppins", sans-serif;
  color: #313131;
}

body {
  background: #161923;
  font-size: 0.85rem;
}

h1 {
  font-weight: 600;
  text-align: center;
  font-size: 1.25rem;
}

h2 {
  font-weight: 300;
  text-align: center;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
}

h3 {
  font-weight: 700;
}

h4 {
  font-size: 0.85rem;
  color: #adb9c5;
}

a {
  text-decoration: none;
}

.box {
  background: #272d45;
  border-radius: 10px;
  min-height: 4.25rem;
  height: 100%;
  color: #adb9c5;
  position: relative;
  overflow: hidden;
  -webkit-transition: background 400ms;
  transition: background 400ms;
  outline: 0;
  border: solid 1px #313131;
  cursor: pointer;
}

.box i {
  font-size: 1.25rem;
  color: #adb9c5;
  position: absolute;
  right: 2rem;
}

.box img,
.box svg {
  height: 100%;
  max-width: 100%;
}

span.ripple {
  position: absolute;
  /* The absolute position we mentioned earlier */
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: ripple 600ms linear;
          animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.3);
}

.closer {
  position: fixed;
  top: -10%;
  font-size: 1.5rem;
  z-index: 99;
  color: #e6e6e6;
}

#portrait {
  width: 8rem;
  height: 8rem;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -8%;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

#portrait img {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  z-index: 5;
}

.modalBox {
  left: 0;
  background: white;
  top: 12%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  min-height: 88%;
  z-index: 9;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.overlay {
  position: fixed;
  background: #262e38;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 1;
  top: 0;
  opacity: 0.8;
}

.overlayBlack {
  position: fixed;
  background: #000000b0;
  width: 100%;
  height: 125%;
  left: 0;
  z-index: 2;
  top: -25%;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.button {
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  font-weight: 700;
  color: #fff;
}

.call {
  background: #262e38;
  border: solid thin #262e38;
  display: block;
}

.vcf {
  font-weight: 400 !important;
  border: solid thin #313131;
  color: #313131;
}

.socialMedia {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socialMedia i {
  font-size: 1.25rem;
  color: #313131;
  opacity: 0.7;
  margin: 1.5rem;
}

.heroImg {
  width: 100%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.heroImg img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.thumbnail {
  width: 5.8rem;
  height: 5.8rem;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.thumbnail img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.7;
}

.thumbnail .activeImg {
  -webkit-filter: none !important;
          filter: none !important;
  opacity: 1;
}

.thumbnail:nth-child(3n + 3) {
  padding-right: 0 !important;
}

.heroFull {
  z-index: 999;
  position: relative;
}

.heroFull img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.zIndex-1 {
  z-index: -1;
}

.video {
  position: absolute;
  left: 0;
}

.landingBg {
  width: 100%;
  height: 10rem;
  top: 0;
  left: 0;
  position: absolute;
  background-size: cover;
}

.logoWrapper {
  margin-top: 6rem;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

.logoWrapper img {
  z-index: 1;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border: solid 6px white;
  background: white;
  width: 120px;
  height: 120px;
  z-index: 3;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

.socialMediaWrapper {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.socialMediaWrapper i {
  font-size: 1.25rem;
  color: #e6e6e6;
  opacity: 0.7;
  margin: 1.5rem;
}

.block {
  font-size: 0.75rem;
  text-align: center;
  color: "Poppins", sans-serif;
}

.controll {
  position: fixed;
  min-height: 0;
  width: 100%;
}

.controll .leftBtn {
  position: absolute;
  width: 15%;
  height: 44%;
}

.white {
  background: white;
}

.wrapperMain {
  padding-top: 0.5rem;
}

.cta {
  background: #a5d723;
  border: 1px solid #a5d723;
  color: #fff;
  text-decoration: none;
}

.cta i {
  color: #fff;
}

.sponsoredImg,
.logoText {
  color: white;
  opacity: 0.3;
}

.boxlink {
  text-decoration: none;
}

.boxWrapper {
  height: 6rem;
}

#loading {
  font-size: 10rem;
}

.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  -webkit-animation: load8 1.1s infinite linear;
          animation: load8 1.1s infinite linear;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.loaderWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: white;
  z-index: 9999;
}

.loader--hide {
  opacity: 0;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.slide-out-top {
  -webkit-animation: slide-out-top 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-top 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 1s ease-out both;
  animation: fade-out 1s ease-out both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fullBG {
  height: 100%;
  background-position: center center;
}
/*# sourceMappingURL=main.css.map */